#nav {
	text-align: center;
	background-color: #b3d9ff;
	padding: 2px;
}
#nav li{
	display: inline-block;
	margin: 5px 5px;
}
body > div{
	margin-top: 6px;
	border: 1px solid black;
	border-radius: 10px;
}

.page{
	background-color: #cce6ff;
	width: 100%;
	height: 400px;
	text-align: center;
}

#profilePage img{
	float: left;
	width: 156px;
	height: 200px;
	margin: 10px;
}
.page content{
	width: 80%;
	float: left;
	text-align: left;
}
#footer{
	background-color: #e6f3ff;
	width: 100%;
	height: 60px;
	clear: both;
}
#appPage, #readMePage{
	display: none;
}

#footer p{
	text-align: center;
	font-size: 10px;
}